sample_data
.vscode
real_data
vehicle_page_views.csv
invalid_page_urls.csv
notebooks/.ipynb_checkpoints
clicks_clean.csv
clicks_raw.csv
dataset_8
datasets
clicks_clean_500_vehicles.csv
model/__pycache__